
@import "bootstrap";

$opacityBackground: rgba(248, 237, 248, 0.6);
$fontColor:#6d2885;

body{
    background-color: $opacityBackground;
    color:black;
    margin-top: 55px;
}
 
@media (min-width: 961px) {
    body { 
        margin-top: 55px;
    } 
   
    .fixed-bottom{
        position: fixed; 
    }
}


@media (max-width: 960px) and (min-width: 501px) {
    body { 
        margin-top: 110px;
    } 
    // .fixed-bottom{
    //     position: static; 
    // }
   
}

@media (max-width: 1200px) {
    body { 
        margin-top: 130px;
    } 
    // .fixed-bottom{
    //     position: static; 
    // }
    footer{
        //display:none;
        margin-top: 80px;
        height: 32px;
        font-size: 10px;
    }
}

main{
    height: 750px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
    background-attachment: fixed;
    padding:5px;
    @media (max-width: 768px) {
        height: 1400px;
        margin-top: 100px;
    }
}

div{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.card-body{
    border:2px solid grey;
    border-radius: 25px;
    color:$fontColor;
    background-color: rgba(248, 237, 248, 0.6);
}

.lista{
    display: flex;
    justify-content: space-between;
    border-radius: 8px;
    margin-top: 1px;
    margin-bottom: 1px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: $opacityBackground;
    height: 50px;
    line-height: 100%;
   
    button{
        margin-top: 5px;
        margin-bottom: 5px;
    }
    @media (max-width: 960px) and (min-width: 501px) {
        li { width: 50%;
            outline:2px solid red;
            height: 100px;
            line-height: auto;
            font-size: 20px;
        }
    }
    
    @media (max-width: 576px) {
        li { width: 100%;
            outline:2px solid blue;
            height: 250px;
            line-height: auto;
            font-size: 15px;
        } 
    }
}

.fontColor{
    color:$fontColor;
    font-weight: bold;
}

.divFlex{
    display: flex;
    border-radius: 8px;
    width:80%;
    font-size: 23px;
    margin-bottom: 5px;
    background-color: $opacityBackground;
    img{
        width:400px;
        height:300px;
        border-radius: 8px;
        margin:2px;
    }
    p{
        text-align: justify;
        padding-right:5px;
        padding-left:5px;
    }
    @media (max-width: 768px) {
        img { width: 100%;
            height: auto;
        } 
        flex-direction: column;
        font-size: 15px;
        line-height: normal;
    }
    @media (max-width: 992px) and (min-width: 769px) {
        font-size: 20px;
        line-height: normal;
        img { 
            margin-top:8%;
        } 
    }
}

label{
    margin-right: 3px;
    margin-left: 3px;
}


form{
    width:300px;
    margin-left: auto;
    margin-right:auto;
}

progress {
    flex-basis: 100%;
    width:250px;
    margin-left: auto;
    margin-right:auto;
  }

img{
    width:200px;
    height:200px;
    border-radius: 8px;
}



a{
    text-decoration: none;
    color:darkblue;
    font-size: 12;
}
#nav1{
    display: flex;
    justify-content: space-between;
    color:red;
    outline:2px solid green;
}

#dymek{
    background-color:$fontColor;
    color:white;
    font-size: 13px;
    position:fixed;
    padding: 4px;
    width: 300px;
    border-radius: 15px;
  p{
    text-align: left;
    margin:0px;
  }
}

#RegistrationInfo{
    text-align: center;
    min-height:30px;
    color:red;
    font-size:20px;
    font-weight: bold;
}

#sum{
    font-size:30px;
    font-weight: bold;
}

#sum1{
    font-size: 16px;
}

#spanInNav{
    font-size: 20px;
    text-align: center;
    text-decoration:underline;
    text-shadow: 2px 2px 2px rgb(248, 216, 241);
    background-image:linear-gradient(to right,#343a40,$fontColor,#343a40);
    border-radius: 5px;
    width:130px;
    @media (max-width: 768px) {
       margin-left: auto;
       margin-right: auto;
      
    }


}

#ulInNav{
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    a{
        font-size: 20px;
    }
}